{% extends 'home.html' %}
{% load static %}

{% load cart %}

{% block title %}
<title>Online Bazar | Buyer Profile</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            {% if User.pic %}
            <img src="{{ User.pic.url }}" class="w-100">
            {% else %}
            <img src="{% static 'images/img_16.png' %}" class="w-100">
            {% endif %}
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5 class="text-center p-2 mt-3 background text-light">Buyer Profile Section</h5>
            <table class="table table-light table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <td>{{ User.name }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ User.username }}</td>
                </tr>
                <tr>
                    <th>Email Id</th>
                    <td>{{ User.email }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ User.phone }}</td>
                </tr>
                <tr>
                    <th>AddressLine1</th>
                    <td>{{ User.addressline1 }}</td>
                </tr>
                <tr>
                    <th>AddressLine2</th>
                    <td>{{ User.addressline2 }}</td>
                </tr>
                <tr>
                    <th>AddressLine3</th>
                    <td>{{ User.addressline3 }}</td>
                </tr>
                <tr>
                    <th>Pin</th>
                    <td>{{ User.pin }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ User.city }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ User.state }}</td>
                </tr>
                <tr>
                    <th colspan="2">
                        <a href="{% url 'updateprofile' %}" class="text-decoration-none">
                            <h5 class="p-3 w-100 text-center background text-light">Update Profile</h5>
                        </a>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
<h5 class="background mt-2 p-2 text-center text-light">Wishlist Section</h5>
<div class="table-responsive">
    <table class="table table-light table-hover table-striped">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Color</th>
            <th>Size</th>
            <th>Base Price</th>
            <th>Discount</th>
            <th>Final Price</th>
            <th>Stock</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in Wishlist %}
        <tr>
            {% if i.product.pic1 %}
            <td><img src="{{i.product.pic1.url}}" height="100px" width="100px" alt=""></td>
            <td>{{i.product.name}}</td>
            <td>{{i.product.color}}</td>
            <td>{{i.product.size}}</td>
            <td>&#8377;{{i.product.baseprice}}</td>
            <td>{{i.product.discount}}%</td>
            <td>&#8377;{{i.product.finalprice}}</td>
            <td>{{i.product.stock}}</td>
            <td><a href="/singleProduct/{{i.product.id}}/" class="btn text-primary"><i
                        class="material-icons">shopping_cart</a></td>
            <td><button class="btn text-primary" onclick="fun('{{i.id}}')"><i
                        class="material-icons">delete-forever</i></button></td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<h5 class="background mt-2 p-2 text-center text-light">
    Order History Section
</h5>

{% for order in orders %}
<div class="container-fluid mb-4">
    <div class="row border-bottom pb-3">

        <!-- Order Details -->
        <div class="col-lg-6 col-md-12">
            <table class="table table-light table-hover table-striped">
                <tr>
                    <th>Order Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Mode</th>
                    <td>{{ order.mode }}</td>
                </tr>
                <tr>
                    <th>Order Status</th>
                    <td>{{ request|orderStatus:order.orderstatus }}</td>
                </tr>
                <tr>
                    <th>Payment Status</th>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{ request|paymentStatus:order.paymentstatus }}</span>

                            {% if order.paymentstatus == 1 %}
                            <a href="/paynow/{{order.id}}/"
                               class="btn text-white px-4"
                               style="background: linear-gradient(90deg,#7b2ff7,#a32cff);">
                                Pay Now
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>₹{{ order.total }}</td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <td>₹{{ order.shipping }}</td>
                </tr>
                <tr>
                    <th>Final</th>
                    <td>₹{{ order.final }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ order.date }}</td>
                </tr>
            </table>
        </div>

        <!-- Product Details -->
        <div class="col-lg-6 col-md-12">

            {% with products=request|orderItem:order.id %}

            <table class="table table-light table-hover table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>
                            {% if product.pic %}
                            <img src="{{ product.pic }}"
                                 height="80"
                                 width="80"
                                 alt="{{ product.name }}">
                            {% else %}
                            No Image
                            {% endif %}
                        </td>

                        <td>{{ product.name }}</td>
                        <td>{{ product.color }}</td>
                        <td>{{ product.size }}</td>
                        <td>₹{{ product.price }}</td>
                        <td>{{ product.qty }}</td>
                        <td>₹{{ product.total }}</td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-danger">
                            No Products Found
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% endwith %}

        </div>

    </div>
</div>
{% endfor %}
{% endblock %}