{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}
  <title>Online Bazar | Home</title>
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light background fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">Online Bazar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item light">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/shop/All/All/All/">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
        <form class="d-flex w-100" role="search" method="post" action="/shop/All/All/All/">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'cart' %}">Cart</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{request.user.username}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile/">Profile</a></li>
              <li><a class="dropdown-item" href="/logout/">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-light" href="/login/">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  {% block content %}
  <div id="carouselExampleIndicators" class="carousel slide mt-3">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
        aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
        aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
        aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
        aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
        aria-label="Slide 10"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/img_1.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_2.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_3.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_4.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_5.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_6.png' %}." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_7.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_8.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_9.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img_10.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h5 class="background text-light text-center p-3 mt-2">Latest Product Section</h5>
  <div class="row">
    {% for i in Product %}
    {% if i.pic1 %}
    <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card">
        <a href="{% url 'singleProduct' i.id %}" class="text-decoration-none">
          <img src="{{ i.pic1.url }}" class="card-img-top" alt="..." height="300px"></a>
        <div class="card-body">
          <h5 class="card-title" style="height: 70px;">{{i.name}}</h5>
          <p class="card-text">
            Price &#8377;<del>{{i.baseprice}}</del>{{i.finalprice}}
            Discount{{i.discount}}%
          </p>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endblock %}
  <footer class="background text-center text-light p-2 mt-2">
    <p>copyright2026@onlinebazar.com</p>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-12"></div>
      <div class="col-md-6 col-sm-12 col-12">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter Your Email id to Subscribe our newsletter service">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <button type="submit" class="btn bg-light w-100">Subscribe</button>
        </form>
      </div>
      <div class="col-md-3 col-sm-12 col-12">

      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </script>
</body>

</html>