{% extends 'home.html' %}
{% load static %}
{% block title %}
<title>Online Bazar | Login </title>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="{% static 'images/login.png.png' %}" alt="">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-12 col-12">
<form action="" method="POST">
     {% csrf_token %}
  <div class="mb-3">
    <h5 class="text-center p-2 mt-3 background text-light">Login Section</h5>
    <label for="username">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="Enter User Name">
  </div>
  <div class="mb-3">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password"placeholder="Enter Password">
  </div>
  <button type="submit" class="w-100 text-center background text-light p-2">Login</button>
  <div class="d-flex justify-content-between">
    <a href=""class="text-decoration-none text-primary">Forget Password</a>
    <a href="{% url 'forget_username
    ' %}"class="text-decoration-none text-primary">New User?Create a Free Account</a>
  </div>
</form>
    </div>
    </div>
</div>
{% endblock %}