{% extends 'home.html' %}
{% load static %}
{% block title %}
<title>Online Bazar | Shop Page </title>
{% endblock %}
{% block content %}

<div class="mt-3">
    <div class="row">
        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12"style="height: 85vh; overflow-y: auto;">
            <h5 class="background text-center text-light w-100 p-2">Menu</h5>
            <div class="list-group">
                <h6 class="background text-center text-light w-100 p-2">Main Category</h6>
                <a href="{% url 'shop' 'All' 'All' 'All' %}" class="list-group-item list-group-item-action">All</a>
                {% for i in Maincategory %}
                <a href="{% url 'shop' i.slug 'All' 'All' %}" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
            <div class="list-group">
                <h6 class="background text-center text-light w-100 p-2">Sub Category</h6>
                <a href="{% url 'shop' mc 'All' br %}" class="list-group-item list-group-item-action">All</a>
                {% for i in Subcategory %}
                <a href="{% url 'shop' mc i.slug br %}" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
            <div class="list-group">
                <h6 class="background text-center text-light w-100 p-2">Brand</h6>
                <a href="{% url 'shop' mc sc 'All' %}" class="list-group-item list-group-item-action">All</a>
                {% for i in Brand %}
                <a href="{% url 'shop' mc sc i.slug %}" class="list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-xxl-10 col-xl-9 col-lg-9 col-md-8 col-sm-6 col-12">
            <h5 class="background text-center text-light w-100 p-2">Shop Section</h5>
            <div class="row">
                {% for i in Product %}
                {% if i.pic1 %}
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <a href="{% url 'singleProduct' i.id %}" class="text-decoration-none">
                        <img src="{{ i.pic1.url }}" class="card-img-top" alt="..." height="300px"></a>
                        <div class="card-body">
                            <h5 class="card-title" style="height: 70px;">{{i.name}}</h5>
                            <p class="card-text">
                                Price &#8377;<del>{{i.baseprice}}</del>{{i.finalprice}}
                                Discount{{i.discount}}%
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}